<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindos candidatos</title>
</head>
<body>
    <div align="center">
       <h1 align="center">
        <a href="http://127.0.0.1:8000/"> Início </a> &nbsp;&nbsp;
        <a href="http://127.0.0.1:8000/candidatos"> Candidatos </a> &nbsp;&nbsp;
        <a href="http://127.0.0.1:8000/empresas"> Empresas </a> &nbsp;&nbsp;
        <a href="http://127.0.0.1:8000/sobre"> Sobre </a>
       </h1>
    </div>
    <h1 align="center"> Página dos candidatos </h1>
    <fieldset>
        <legend align="center"> Dados pessoais</legend>
    <div>
        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cadastrar">
        </form>
    </div>
    </fieldset>
    <!-- O segundo formulário -->
    <fieldset>
        <legend align="center">Endereço: Usuário</legend>
        {{ form2.as_p }}
    </fieldset>
</body>
</html>